* { 
    padding:0;
    margin:0;
}

html {
    box-sizing: border-box;
}
  

*, *:before, *:after {
    box-sizing: inherit;
}

body{
	background-color: #e5e5e5;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Name */
.name{
    font-size: 200px;
	margin-top:0.2em;
}

/*Score */
.score{
    display: flex;
    flex-direction: column;
	font-size: 90px;
	margin: 0.3em 0;
	padding: 0.1em;
	border: solid 1px black;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
	background-color: #cdcdcd;
}

.playerScore, .computerScore{
    display: flex;
}

.playerScore > div, .computerScore > div{
	padding:15px;
}

/*Options */
.options{
	margin-top:1em;
}

/*Buttons css*/
button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#92aca5;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:100px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px -1px 0px #30756c;
	margin: 0 0.1em;
}
button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
button:active {
	position:relative;
	top:1px;
}


/*media queries*/
@media (max-width:700px){
	.name{
		font-size: 70px;
	}
	.score{
		display: flex;
		flex-direction: row;
		font-size: 50px;
	}
	.playerScore, .computerScore{
		flex-direction: column;
	}
	.playerScore > div, .computerScore > div{
		padding:5px;
	}

	button{
		font-size:50px;
	}
}